:root {
    --base-800: #0B0C10;
    --base-700: #151A22;
    --base-600: #1F2833;
    --base-500: #495058;
    --base-400: #72777D;
    --base-200: #C5C6C7;
    --blue-200: #66FCF1;
    --blue-400: #45A29E;
    --synth-100: #023788;
    --synth-200: #650D89;
    --synth-300: #920075;
    --synth-400: #F6019D;
}

* {
    box-sizing: border-box;
    margin: "0";
    border: "0";
}

p {
    margin: 0px; border: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    box-sizing: border-box;
    background-color: var(--base-800); height: 100vh; width: 100%; top: 0; bottom: 0;
}

header {
    font-weight: 400;
}

.borders {
    border:0px;
    margin:0px
}

.container {
    display: flex; justify-content: center; width: 100%; height: 100%;
}

.container {
    display: flex; justify-content: center; width: 100%; height: 100%;
}

.logoHolder { /* Add an Svg and animations when hovering over the home icon*/
    height: 100%;
    display: flex; justify-content: center; align-items: center;
}

.logoText { 
    color: var(--base-800);
    font-weight: 600;
    text-decoration: none;
    flex:1;
    font-size: large;
}

.navButton {
    color: var(--base-800);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    &:hover {
        background-color: var(--base-700);
        color: var(--base-200);
        fill: var(--base-200)
    }
    &:focus {
        background-color: aqua;
    }
}
.active {
    background-color: aqua;
}

.navbar {
    background-color: var(--base-500); height: 7%; width: 100%; display: flex; justify-content: center; align-items: center;
}

.navMiddle {
    height: 100%; width: 80%; display: flex; align-items: center; justify-content: space-between;
}

.nav-list {
    display: flex; align-items: center;
    height: 100%;
}

.icon {
    width: 1em;
    height: 1em;
    margin-left: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.heroPage {
    display:flex; justify-content: center; align-items: center; width: 100%; height: 93%;
} /*Make an interesting background later on with an API like next, angular or react*/

.hero {
    width: 66%; height:66%;  display:flex; justify-content: center; align-items: center; border-radius: 30px; overflow: hidden;
}

.heroLeft {
    width: 66%; height: 100%; display: flex; flex-direction: column; justify-content: center; text-align: left;
}

.heroText {
    text-align: right;
    padding-right: 10px;
}

.heroRight {
    width: 34%; aspect-ratio: 1/1; border-radius: 50%;
    /*Make the height dynamic with the screen height with JS
    This was done with CSS aspect ratio*/
}
.heroPic {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.intro { 
    font-size: xx-large;
    color: var(--base-200)
}

.name {
    font-size: xx-large;
    background-image: linear-gradient(to bottom right, var(--synth-100), var(--synth-200), var(--synth-300));
    color: transparent;
    background-clip: text;
    animation: rotate 10s ease infinite;
}

@keyframes rotate {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

#description {
    font-size: x-large;
    color: var(--base-200)
}

/*section{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}*/


.star{
    position: absolute;
    z-index: -1;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: stars 3s linear infinite;
}
.star::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

@keyframes stars
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.star:nth-child(1){
    top: -10px;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.star:nth-child(2){
    top: -10px;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.star:nth-child(3){
    top: 80;
    right: -10px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.star:nth-child(4){
    top: -10px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.star:nth-child(5){
    top: -10px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.star:nth-child(6){
    top: -10px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.star:nth-child(7){
    top: 300px;
    right: -10px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.star:nth-child(8){
    top: -10px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.star:nth-child(9){
    top: -10px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.star:nth-child(9){
    top: -10px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}